h1.title {
    margin-bottom: -10px;
    text-align: center;
}


body {
    font-family: 'Helvetica', sans-serif;
    min-width: 900px;
}

#word {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    background-color: lightyellow;
    outline-color: black;
    outline-style: groove;
    outline-width: 2px;
    font-size: 3vw;

    margin-top:100px;
    margin-bottom:100px;
    margin-left:35%;
    margin-right:35%;
    padding-bottom:50px;
    padding-top:50px;
    padding-right:50px;
    padding-left:50px;
}

#matches {
    text-align: center;
    font-family: 'Helvetica', sans-serif;    
    font-size: 3vw;
}

.container {
    display: flex;                 
    flex-direction: row;           
    flex-wrap: nowrap;   
    justify-content: space-between;
}

.column {
    float: left;
    width: 20%;    
    margin-top:40px;
    margin-bottom:40px;
    margin-left:20px;
    margin-right:20px;

    padding-bottom:50px;
    padding-top:50px;
    padding-right:10px;
    padding-left:10px;

    background-color: lightyellow;
    outline-color: black;
    outline-style: groove;
    outline-width: 2px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }