h1.title {
    margin-bottom: -10px;
    text-align: center;
}

body {
    font-family: 'Helvetica', sans-serif;
    min-width: 900px;
}

#infobox {
    font-size: 1vw;
    text-align:center;
    float:right;
    margin-right:10%;
    padding: 25px;
    position: absolute;
    right: 0;
}

#word {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    background-color: lightyellow;
    outline-color: black;
    outline-style: groove;
    outline-width: 2px;
    font-size: 3vw;

    margin-top:100px;
    margin-bottom:100px;
    margin-left:35%;
    margin-right:35%;
    padding-bottom:50px;
    padding-top:50px;
    padding-right:50px;
    padding-left:50px;

} 

#passButton {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    background-color: red;
    color: white;
    outline-color: black;
    outline-style: groove;
    outline-width: 2px;
    font-size: 2vw;

    margin-top:70px;
    margin-bottom:70px;
    margin-left:50px;
    margin-right:100px;
    /* padding-bottom:20px;
    padding-top:20px; */
    padding-right:20px;
    padding-left:20px;
    
} 

#matches {
    text-align: center;
    font-family: 'Helvetica', sans-serif;    
    font-size: 3vw;
}



.container {
    display: flex;                 
    flex-direction: row;           
    flex-wrap: nowrap;   
    justify-content: space-between;
}

.column {
    float: left;
    width: 20%;    
    margin-top:40px;
    margin-bottom:40px;
    margin-left:20px;
    margin-right:20px;

    padding-bottom:50px;
    padding-top:50px;
    padding-right:10px;
    padding-left:10px;

    background-color: lightyellow;
    outline-color: black;
    outline-style: groove;
    outline-width: 2px;
}

.column:hover {
    background-color:#ffff99;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#leaderboard {
    font-size: 1vw;
    float: left;
    margin-top:50px;
    margin-left:6%;
    padding: 25px;
    position: absolute;
    left: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 1vw;
}

#leadertitle {
    font-size: 1.1vw;
    font-weight: 800;
    float: left;
    margin-top:20px;
    margin-left:6%;
    padding: 25px;
    position: absolute;
    left: 0;
    font-family: 'Helvetica', sans-serif;
    font-size: 1vw;
}